In [2]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z + " this is the amazing python class")

Python is awesome this is the amazing python class

In [26]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
 if "a" in x:
  newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [4]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [15]:
arr=[1,3,5,7,8]
for a in arr:
    print(a)

1
3
5
7
8

In [1]:
a=10
print(a)

10

In [2]:
x=10
y=20
x,y=y,x
print(x,y)

20 10

In [4]:
x=10
y=3
print(x/y)

3.3333333333333335

In [1]:
str="hello world"
str2=str[0:4]+'n'+str[5:]
str2

'helln world'

In [27]:
a=10
b=20
a,b=b,a

print(a,b)

20 10

In [20]:
str2="hello world"

str3="n"+str2[1:]
print(str3)

nello world

In [25]:
for i in range(1,10,3):
    print(i)

1
4
7

In [30]:
d="hello"
print(d)

hello

In [31]:
string="123alpha"
string.isalnum()

True

In [13]:
str="Python is awesome language awesome"
str.replace("awesome","good",2)
# str.split()

'Python is good language good'

In [50]:
import string
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.digits)
29
print(string.hexdigits)
#print(string.whitespace)
print(string.punctuation)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
0123456789abcdefABCDEF
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [15]:
n = 6
for i in range(n):
    print(" "*(n-i)+"*"*(2*i+1)+" "*(n-i))
for i in range(0, n):
    print(" "*(1+i)+"*"*(n*2-(2*i+1))+" "*(1+i))

      *
     ***
    *****
   *******
  *********
 ***********
 ***********
  *********
   *******
    *****
     ***
      *

In [11]:
n=4
for i in range(n):
    print("*"*(n-i)+" "*(2*i+1)+"*"*(n-i))
for i in range(1,n):
    print("*"*(i+1)+" "*((2*n+1)-(2*i+2)) +"*"*(i+1))

**** ****
***   ***
**     **
*       *
**     **
***   ***
**** ****

In [97]:
marks=int(input("Enter the marks"))
marks2=int(input("Enter the marks"))
marks3=int(input("Enter the marks"))
marks4=int(input("Enter the marks"))
print(marks)
print(marks2)
print(marks3)
print(marks4)

1
2
3
4

In [4]:
def table(n):
    for x in range(1,11):
        print(n*x)
print()

5
10
15
20
25
30
35
40
45
50
2
4
6
8
10
12
14
16
18
20

In [16]:
for x in range(5):
    print(1*(x+1))

1
2
3
4
5

In [1]:
str="amit"
str=str[0:2]+"jjj"+str[2:]
print(str)

amjjjit

In [3]:
for x in range(1,5):
    print(x)

1
2
3
4

In [11]:
string="amit"
string.isalpha()

True

In [3]:
a = [81, 82, 83]
b = [81, 82, 83]

b = a
print(a == b)
print(a is b)
b[0] = 5
print(a)

True
True
[5, 82, 83]

In [2]:
a=[1,3,6,8]
a[1]=8
print(a)

[1, 8, 6, 8]

In [4]:
def a( x, y):
    print(x+y)
a(3,5)

8

In [28]:
string ="danish"
print(string[-1::-1])
# string.replace('am','are',2)
for x in string:
    print(x)

hsinad
d
a
n
i
s
h

In [29]:
str=input("entre the string")
str[1::2]

'tig'

In [34]:
vowels="aeiouAEIOU"
num_vowels=0
num_consonent=0
str=input("enter string")
for char in str:
    if char in vowels:
        num_vowels+=1
    else: 
      num_consonent+=1
        
print(num_vowels, num_consonent)

5 1

In [38]:
string ='apple'
string2=" "
for x in range(len(string)):
    if string[x] not in string2:
        string2+=string[x]
string2

' aple'

In [39]:
x=list()
x

[]

In [47]:
tuple1=(1,2,3,4)
x=list(tuple1)
x[-1::-1]
x.pop(2)

3

In [52]:
a = [81, 82, 83]
b = [81, 82, 83]

b = a

b[0] = 5
print(a)

[5, 82, 83]

In [54]:
str="mchdgd253635"
total=0
cnt=0
for x in str:
    if x.isdigit():
        total+=int(x)
        cnt+=1
average=total/cnt
print(total,average)

24 4.0

In [4]:
str="helloo"
str[1::2]

'elo'

In [5]:
str="aeioug"
vowels="aeiouAEIOU"
num_vowel=0
num_consonent=0
for char in str:
    if char in vowels:
        num_vowel+=1
    else:
        char.isalpha()
        num_consonent+=1
print(num_vowel,num_consonent)

5 1

In [9]:
str="i are anas are"
str.replace("are","am",1)

'i am anas are'

In [1]:
def doubleStuff(List):
    for x in range(len(List)):
       List[x] = 2 * List[x]
things = [2, 5, 9]
print(things)
doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

In [13]:
x=1
z=[[x,i**2] for i in range(1,11) ]
print(z)

[[1, 1], [1, 4], [1, 9], [1, 16], [1, 25], [1, 36], [1, 49], [1, 64], [1, 81], [1, 100]]

In [18]:
vowels="aeiouAEIOU"
str="hello"
x=[x for x in str if x not in vowels ]
print(len(x))

3

In [20]:
x={3*x for x in range(10) if x>5}
x

{18, 21, 24, 27}

In [33]:
def multiplyList(myList):
    result = 1
    for x in myList:
        result = result * x
    return result
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [37]:
list1=[1,5,8,95,7]
list1.sort()
list1[-2]

8

In [38]:
def add(num1,num2):
    return num1+num2
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
print(add(num1,num2))

9.0

In [39]:
def doubleStuff(x):

 for position in range(len(x)):
  x[position] = 2 * x[position]
things = [2, 5, 9]
print(things)
doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

In [41]:
list1=[x**2 for x in range(10) if x>4]
list1

[25, 36, 49, 64, 81]

In [42]:
a=5
table = [[a, b, a * b] for b in range(1, 11)]
for i in table:
 print(i)

[5, 1, 5]
[5, 2, 10]
[5, 3, 15]
[5, 4, 20]
[5, 5, 25]
[5, 6, 30]
[5, 7, 35]
[5, 8, 40]
[5, 9, 45]
[5, 10, 50]

In [43]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [35]:
dict1 = {"brand":"mrcet","model":"college","year":2004}
dict1.update({"brand":"mccet"})
dict1

{'brand': 'mccet', 'model': 'college', 'year': 2004}

In [32]:
n=8
m=0
for i in range(n,0,-1):
    m+=1
    for j in range(1,i+1):
        print(m,end="")
    print("\r")

11111111
2222222
333333
44444
5555
666
77
8

In [33]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****

In [35]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end="")
    print("\r")

*****
****
***
**
*

In [39]:
n=8
m=0
for i in range(0,n):
    m+=1
    for j in range(0,i+1):
        print(m,end="")
    print("\r")

1
22
333
4444
55555
666666
7777777
88888888

In [43]:
n=8
m=0
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print("")

1
12
123
1234
12345
123456
1234567
12345678

In [15]:
n = 6
for i in range(0, n):
    print("*"*(1+i)+"0"*(n*2-(2*i+1))+"*"*(1+i))

*00000000000*
**000000000**
***0000000***
****00000****
*****000*****
******0******

In [1]:
dict1={"branch":"cse"}
dict1.fromkeys("branch",1)

{'b': 1, 'r': 1, 'a': 1, 'n': 1, 'c': 1, 'h': 1}

In [2]:

i=1
while i<=6:
 print("Mrcet college")
 i=i+1

Mrcet college
Mrcet college
Mrcet college
Mrcet college
Mrcet college
Mrcet college

In [4]:
i=1
while i<=3:
 print("MRCET",end="/")
 j=1
 while j<=1:
   print("CSE DEPT",end="")
   j=j+1
   i=i+1
   print()

MRCET/CSE DEPT
MRCET/CSE DEPT
MRCET/CSE DEPT

In [10]:
n=5
for i in range(n,0,-1):
    for j in range(1,1+i):
        print("*",end="")
    print("")

*****
****
***
**
*

In [4]:
s='kirti_azad'
k=""
for i in range(len(s)-1,-1,-1):
    k+=s[i]
print(k)    
print(s[-1::-1])

daza_itrik
daza_itrik

In [10]:
n=11
flag=True
for i in range(2,n//2):
    if(n%i==0):
        flag=False
        break
if(flag):
    print("prime")
else:
    print("not prime")

prime

In [11]:
def sum_product(a,b):
    return a+b ,a*b
print(sum_product(6,7))

(13, 42)

In [13]:
def sum(n):
    if n==0:
        return 0
    else:
        return n+sum(n-1)
        
print(sum(10))

55

In [ ]:
list=[2,4,7]
for i in range(len(list)):
    list[i]=list[i]*2

In [3]:
for val in "MRCET COLLEGE":
    if val == " ":
        break
    print(val)
print("The end")

M
R
C
E
T
The end

In [4]:
for num in [11, 9, 88, 10, 90, 3, 19]:
    print(num)
    if(num==88):
        print("The number 88 is found")
        print("Terminating the loop")
        break

11
9
88
The number 88 is found
Terminating the loop

In [5]:
for val in "string":
    if val == "i":
        continue
    print(val)
print("The end")

s
t
r
n
g
The end

In [6]:
import datetime
a=datetime.datetime(2019,5,27,6,35,40)
a

datetime.datetime(2019, 5, 27, 6, 35, 40)

In [7]:
import datetime
a=datetime.date(2000,9,18)
print(a)

2000-09-18

In [8]:
import datetime
a=datetime.time(5,3)
print(a)

05:03:00

In [9]:
import datetime
a=datetime.datetime.today()
b=datetime.datetime.now()
print(a)
print(b)

2023-11-23 21:06:32.464988
2023-11-23 21:06:32.464987

In [12]:
import datetime
a=datetime.date.today()
b=datetime.date(2024,11,23)
c=b-a
print(c)

366 days, 0:00:00

In [13]:
import time
time.sleep(6) 
print("Python Lab")

Python Lab

In [16]:
import os
# print(dir(os))
print(os.getcwd())

d:\pythonprogramming

In [17]:
import calendar
print(calendar.month(2020,1))

    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [18]:
import calendar
print(calendar.isleap(2027))

False

In [19]:
import calendar
print(calendar.calendar(2020,1,1,1))

                              2020

      January               February               March
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
       1  2  3  4  5                  1  2                     1
 6  7  8  9 10 11 12   3  4  5  6  7  8  9   2  3  4  5  6  7  8
13 14 15 16 17 18 19  10 11 12 13 14 15 16   9 10 11 12 13 14 15
20 21 22 23 24 25 26  17 18 19 20 21 22 23  16 17 18 19 20 21 22
27 28 29 30 31        24 25 26 27 28 29     23 24 25 26 27 28 29
                                            30 31

       April                  May                   June
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
       1  2  3  4  5               1  2  3   1  2  3  4  5  6  7
 6  7  8  9 10 11 12   4  5  6  7  8  9 10   8  9 10 11 12 13 14
13 14 15 16 17 18 19  11 12 13 14 15 16 17  15 16 17 18 19 20 21
20 21 22 23 24 25 26  18 19 20 21 22 23 24  22 23 24 25 26 27 28
27 28 29 30           25 26 27 28 29 30 31  29 30

        July                 August              September
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
       1  2  3  4  5                  1  2      1  2  3  4  5  6
 6  7  8  9 10 11 12   3  4  5  6  7  8  9   7  8  9 10 11 12 13
13 14 15 16 17 18 19  10 11 12 13 14 15 16  14 15 16 17 18 19 20
20 21 22 23 24 25 26  17 18 19 20 21 22 23  21 22 23 24 25 26 27
27 28 29 30 31        24 25 26 27 28 29 30  28 29 30
                      31

      October               November              December
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
          1  2  3  4                     1      1  2  3  4  5  6
 5  6  7  8  9 10 11   2  3  4  5  6  7  8   7  8  9 10 11 12 13
12 13 14 15 16 17 18   9 10 11 12 13 14 15  14 15 16 17 18 19 20
19 20 21 22 23 24 25  16 17 18 19 20 21 22  21 22 23 24 25 26 27
26 27 28 29 30 31     23 24 25 26 27 28 29  28 29 30 31
                      30

In [20]:
import math
r=int(input("Enter radius:"))
area=math.pi*r*r
print("Area of circle is:",area)

Area of circle is: 78.53981633974483

In [22]:
a=5
b=0
try:
    print("resource open")
    print(a/b)
    k=int(input("enter a number"))
    print(k)
except ZeroDivisionError as e:
    print("the value can not be divided by zero",e)

resource open
the value can not be divided by zero division by zero

In [37]:
import os
# print(os.getcwd())
f=open("sub.py")
os.access("addition.py",os.F_OK)

True

In [2]:
print("hello")

hello

In [3]:
print(1+5)

6

In [6]:
class Employee:
    id = 10
    name = "John"
    def display (self):
        print("ID: %d \nName: %s"%(self.id,self.name))
emp = Employee()
emp.display()

ID: 10
Name: John

In [8]:
class Parent:
    def func1(self):
        print("This function is in parent class.")
class Child(Parent):
    def func2(self):
        print("This function is in child class.")

object = Child()
object.func1()
object.func2()

This function is in parent class.
This function is in child class.

In [9]:
class Mother:
    mothername = ""
    def mother(self):
        print(self.mothername)

class Father:
    fathername = ""
    def father(self):
        print(self.fathername)

class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)

s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA

In [10]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
    def language(self):
        print("Hindi is the most widely spoken language of India.")
    def type(self):
        print("India is a developing country.")
class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
    def language(self):
        print("English is the primary language of USA.")
    def type(self):
        print("USA is a developed country.")
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()
    country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [13]:
from abc import ABC, abstractmethod
class Polygon(ABC):
    def noofsides(self):
        pass
class Triangle(Polygon):
    def noofsides(self):
        print("I have 3 sides")
class Pentagon(Polygon):
    def noofsides(self):
        print("I have 5 sides")
class Hexagon(Polygon):
    def noofsides(self):
        print("I have 6 sides")
class Quadrilateral(Polygon):
    def noofsides(self):
        print("I have 4 sides")
R = Triangle()
R.noofsides()
K = Quadrilateral()
K.noofsides()
R = Pentagon()
R.noofsides()
K = Hexagon()
K.noofsides()

I have 3 sides
I have 4 sides
I have 5 sides
I have 6 sides

In [16]:
n = 6
for i in range(n):
    print(" "*(n-i)+"*"*(2*i+1)+" "*(n-i))
for i in range(0, n):
    print(" "*(1+i)+"*"*(n*2-(2*i+1))+" "*(1+i))

      *
     ***
    *****
   *******
  *********
 ***********
 ***********
  *********
   *******
    *****
     ***
      *

In [3]:
for val in "MRCET COLLEGE":
    if val == " ":
        continue
    print(val)
print("The end")

M
R
C
E
T
C
O
L
L
E
G
E
The end

In [4]:
a=5
b=0
try:

    print(a/b)
except Exception as e:
    print("number can not be divided by zero",e)
    print("bye")

number can not be divided by zero division by zero
bye

In [5]:
import datetime
a=datetime.datetime.today()
b=datetime.datetime.now()
print(a)
print(b)

2023-11-24 10:47:34.673179
2023-11-24 10:47:34.674177

In [9]:
arr=[1,2,3,4,5,6,"m",8,9,10]
for x in arr:
    print(x)

1
2
3
4
5
6
m
8
9
10